{% if completed_tests_names_list | length > 0 or completed_custom_tests_names_list | length > 0 %}
Завершённые тесты:
{% if completed_tests_names_list %}
  <strong>Психологические тесты:</strong>
  {% for test in completed_tests_names_list %}
  - {{ test }}
  {% endfor %}
  {% endif %}
  {% if completed_custom_tests_names_list %}
  <strong>Кастомные тесты:</strong>
  {% for test in completed_custom_tests_names_list %}
  - {{ test }}
  {% endfor %}
  {% endif %}
  {% else %}
    Выберите тест для прохождения:
  {% endif %}