<strong>Добро пожаловать!</strong>

Вы попали сюда по <strong>ссылке для прохождения тестов</strong>, чтобы прервать процесс прохождения набора тестов в любой момент введите команду /abort в чате.

<em>Чтобы вернуться к 
    прохождению вам 
    потребуется вновь 
    перейти по ссылке.</em>

<em>В случае досрочного 
    выхода из решения этого 
    набора тестов так же 
    просто повторно 
    перейдите по ссылке, 
    которую вы уже 
    использовали для того, 
    чтобы попасть сюда</em>

<strong>Подготовте резюме и/или сопроводительное письмо, это потребуется в конце прохождения тестов.</strong>